// Colors
$blue: #0FD7FF;
$pink: rgb(237, 21, 102);
$offwhite: rgb(255, 252, 249);
$white: #fefefe;

// Sizing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$r-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakbpoints
$desktop-breakpoint: 45rem;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,400;0,700;1,400&display=swap');
