#background_group {
  padding: $m-size;
  position: relative;
  min-width: 66%;
  width: 100%;
}

#background_source {
  font-size: $m-size;
  font-style: italic;
}

.list_header {
  font-weight: bold;
}